@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }
}

@layer components {
  .glass {
    @apply bg-white/10 backdrop-blur-lg border border-white/20 shadow-xl;
  }
}